body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}


header {
    background-color: rgba(150, 31, 31, 0.5);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}


.logo-text {
    font-size: 1.5em;
    margin-left: 10px;
}


nav {
    display: flex;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


nav a:hover{
    color: #914d4d;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
}

.image-container a {
    margin: 10px; /* Add some margin around each image for spacing */
}